@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    background: black;
    font-family: 'Poppins', sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 200px; */
    transition: 0.5s ease;
}
.brand{
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    position: relative;
    left: 30px;  
}

.navbar-toggler{
    position: relative;
    right: 30px;
    border: 1px solid white !important;
    border-radius: 10px !important;
    
}

.navbar-custom {
    background: rgba(11, 12, 12, 0.61);
}

.navbar-collapse {
    background: rgba(233, 224, 224, 0.158);
    backdrop-filter: blur(10px);
    border-radius: 30px;
 
}
.navbar-collapse {
    margin-top: 10px;
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important;
    font-weight: 700;
}




.gallery {
  padding: 20px;
  margin-top: 55px;
  background-color: #0e0f0f;
}
.card {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 20px!important;
  transition: transform 0.3s;
  background-color: black;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  transition: transform 0.5s ease;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}
.glass-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.card:hover .glass-effect {
  opacity: 1;
}
.text {
  color: #fff;
  text-align: center;
}





















.footer {
  background-color: black; 
    color:white;
    padding: 10px;
    margin-top: auto; 
    width: 100%;
    /* position: absolute;
    bottom: 0; */
  }
  
  .container {
    flex: 1; 
  }
   
  .footer-section {
    position: relative;
  }
  
  .footer-section h5 {
    margin-bottom: 15px;
    font-size: 1em;
    color: white;
    font-weight: 600;
  }
  
  .footer-section p,
  .footer-section ul {
    color: white;
    font-size: 0.8em;
    text-align: center;
  }
  
  .footer-section ul {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  .footer-section li {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s, transform 0.3s;
  }
  
  .footer-section a:hover {
    color: #00aaff;
  }
  
  .footer-section i {
    margin-right: 8px;
  }
  
  .footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer .social-icons a {
    color: #e0e0e0;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .footer .social-icons a:hover {
    color: #00aaff;
    transform: scale(1.2);
  }
  
  .footer .bottom-row {
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 12px;
  }
  .fst{
    border-bottom:1px solid white;
  }
  
  .scnd{
    margin-top: 10px;
    border-bottom:1px solid white;
  }
  .thrd{
    margin-top:10px;
}

 

@media (min-width: 768px) {

  
    .navbar-custom .navbar-collapse {
        background: transparent !important;
        backdrop-filter: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: white !important;
        position: relative;
        right: 30px;
    }

    .nav-link{
        position: relative;
        font-weight: 500;
        transition: 0.3s ease;
        font-size: 1.1em;

    }
    .navbar-collapse {
       display: none;
    }


    .footer-section h5 {
      margin-bottom: 15px;
      font-size: 1.5em;
      color: #ffffff;
      font-weight: 600;
    }
  
    .footer-section p,
    .footer-section ul {
      color: white;
      font-size: 1em;
    }

    .fst{
        margin-top: 10px;
        border-right:1px solid white;
      }
      
    .scnd{
    border-right:1px solid white;
    }

    .thrd{
        border-bottom:1px solid white;
        
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer-section a i {
        margin-bottom: 10px;
        text-align: center;
      }
      .footer .bottom-row {
        border-top: 1px solid #c0c0c0;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 1.2em;
      }

     }

@media (min-width: 1024px) {

    .brand{
        color: white;
        font-size: 1.7em;
        font-weight: 800;
        position: relative;
        left: 30px;
        
    }
    .navbar-custom .navbar-collapse {
        background: transparent !important;
        backdrop-filter: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: white !important;
        position: relative;
        right: 30px;
    }

    .nav-link{
        position: relative;
        font-weight: 500;
        transition: 0.3s ease;
        font-size: 1.4em;

    }
    .navbar-collapse {
        display: none;
     }

     .fst{
        margin-top: 10px;
        border-right:1px solid white;
      }
      
    .scnd{
    border-right:1px solid white;
    }

    .thrd{
        border-bottom:1px solid white;
       
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer-section a i {
        margin-bottom: 10px;
        text-align: center;
      }

      .footer-section p,
      .footer-section ul {
        color: white;
        font-size: 1em;
      }
      .footer .bottom-row {
        border-top: 1px solid #c0c0c0;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 1.1em;
      }

    }