@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    width: 100%;
    background: black;
    font-family: 'Poppins', sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}
.brand{
    color: white;
    font-size: 1.5em;
    font-weight: 800;
    position: relative;
    left: 30px;  
}

.navbar-toggler{
    position: relative;
    right: 30px;
    border: 1px solid white !important;
    border-radius: 10px !important;
    
}

.navbar-custom {
    background: rgba(5, 2, 2, 0.466);
}

.navbar-collapse {
    background: rgba(233, 224, 224, 0.158);
    backdrop-filter: blur(10px);
    border-radius: 30px;
 
}
.navbar-collapse {
    margin-top: 10px;
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important;
    font-weight: 700;
}

.main{
  width: 100%;
  height: 100%;
  background: black;
 
}

.services{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.service-card {
  background: rgba(87, 31, 87, 0.664);
  backdrop-filter: blur(10px);
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 250px;
  max-width: 320px;
}
.service-card:hover {
  transform: scale(1.1);
  background: rgba(43, 168, 226, 0.2);
  
}

.icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffcc00;
}

.service-card h2 {
  margin: 0.5rem 0 1rem 0;
  color: #ffcc00;
}

.service-card p {
  flex-grow: 1;
  color: #ddd;
}

.btn {
  cursor: pointer!important;
  transition: background-color 0.3s, color 0.3s!important;
  font-weight: 800!important;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}



footer {
    z-index: 999;
    background-color: black; 
    color:white;
    padding: 10px;
    margin-top: auto; 
    width: 100%;
    
  }
  
  .container {
    flex: 1; 
  }
   
  .footer-section {
    position: relative;
  }
  
  .footer-section h5 {
    margin-bottom: 15px;
    font-size: 1em;
    color: white;
    font-weight: 600;
  }
  
  .footer-section p,
  .footer-section ul {
    color: white;
    font-size: 0.8em;
    text-align: center;
  }
  
  .footer-section ul {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  .footer-section li {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer-section a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #00aaff;
  }
  
  .footer-section i {
    margin-right: 8px;
  }
  
  .footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer .social-icons a {
    color: #e0e0e0;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .footer .social-icons a:hover {
    color: #00aaff;
    transform: scale(1.2);
  }
  
  .footer .bottom-row {
    border-top: 1px solid #c0c0c0;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 12px;
  }
  .fst{
    position: relative;
    border-bottom:1px solid white;
  }
  
  .scnd{
    margin-top: 10px;
    border-bottom:1px solid white;
  }
  .thrd{
    margin-top:10px;
}

 

@media (min-width: 768px) {

  
    .navbar-custom .navbar-collapse {
        background: transparent !important;
        backdrop-filter: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: white !important;
        position: relative;
        right: 30px;
    }

    .nav-link{
        position: relative;
        font-weight: 500;
        transition: 0.3s ease;
        font-size: 1.1em;

    }
    .navbar-collapse {
       display: none;
    }

    .services{
      padding-top: 80px;
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
      
    }
    
    .service-card {

      display: flex;
      min-height: 250px;
      width: 300px;
    }
    .service-card:hover {
      transform: scale(1.1)0.8s ease;
      background: rgba(43, 168, 226, 0.2);
      
    }
    
    .footer-section h5 {
      margin-bottom: 15px;
      font-size: 1.5em;
      color: #ffffff;
      font-weight: 600;
    }
  
    .footer-section p,
    .footer-section ul {
      color: white;
      font-size: 1em;
    }

    .fst{
        margin-top: 10px;
        border-right:1px solid white;
      }
      
    .scnd{
    border-right:1px solid white;
    }

    .thrd{
        border-bottom:1px solid white;
        
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer-section a i {
        margin-bottom: 10px;
        text-align: center;
      }
      .footer .bottom-row {
        border-top: 1px solid #c0c0c0;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 1.2em;
      }

     }

@media (min-width: 1024px) {

    .brand{
        color: white;
        font-size: 1.7em;
        font-weight: 800;
        position: relative;
        left: 30px;
        
    }
    .navbar-custom .navbar-collapse {
        background: transparent !important;
        backdrop-filter: none;
    }

    .navbar-custom .navbar-nav .nav-link {
        color: white !important;
        position: relative;
        right: 30px;
    }

    .nav-link{
        position: relative;
        font-weight: 500;
        transition: 0.3s ease;
        font-size: 1.4em;

    }
    .navbar-collapse {
        display: none;
     }

     .fst{
        margin-top: 10px;
        border-right:1px solid white;
      }
      
    .scnd{
    border-right:1px solid white;
    }

    .thrd{
        border-bottom:1px solid white;
       
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer-section a i {
        margin-bottom: 10px;
        text-align: center;
      }

      .footer-section p,
      .footer-section ul {
        color: white;
        font-size: 1em;
      }
      .footer .bottom-row {
        border-top: 1px solid #c0c0c0;
        padding-top: 10px;
        margin-top: 20px;
        font-size: 1.1em;
      }

    }